{{!< default}}
{{! The tag above means - insert everything in this file into the {body} of the default.hbs template }}

{{! The big featured header }}
{{> "header"}}

{{! The main content area on the author page }}
{{! Everything inside the #author tags pulls data from the author }}
<main id="content" class="content clearfix" role="main">

    <div id="articles">
        {{> "loop"}}
    </div>

    <div id="sidebar">
        {{#author}}
            <div class="box sidebox author-sidebox">
                <div class="sidebox-title">
                    {{#if profile_image}}
                        <div class="author-image">
                            <img src="{{img_url profile_image size="small"}}" alt="{{name}}'s Picture"/>
                        </div>
                    {{/if}}
                    <span>{{name}}</span>
                </div>
                <div class="sidebox-content">
                    <p>{{bio}}</p>
                    <ul>
                        {{#if location}}
                            <li>
                                <i class="fas fa-map-marker-alt"></i>
                                <span>{{location}}</span>
                            </li>
                        {{/if}}
                        {{#if website}}
                            <li>
                                <i class="fas fa-link"></i>
                                <a href="{{website}}">{{website}}</a>
                            </li>
                        {{/if}}
                        <li>
                            <i class="fas fa-chart-bar"></i>
                            <span>{{plural ../pagination.total empty='No posts'
                                           singular='% post'
                                           plural='% posts'}}</span>
                        </li>
                    </ul>
                </div>
            </div>
        {{/author}}

        {{> "sidebar"}}
    </div>
</main>
